.container {
  display: flex;
  flex-direction: row;
  background-color: #222831;
  border-radius: 1em;
  width: 1000px;
  height: 600px;
}

.sidebar {
  width: 60%;
  margin: 5%;
  background-color: #222831;
  color: white;
  border-radius: 1em;
  box-sizing: border-box;
}

.right {
  width: 40%;
  color: white;
  background: linear-gradient(0deg, #5fb1bb 0%, #76b5b8 14%, #222831 100%);
  border-radius: 0 1em 1em 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

input,
select {
  color: white;
  background-color: #7b7b7b;
  border-radius: 1em;
  box-sizing: border-box;
  padding: 10px;
  border: 0.1px #7b7b7b solid;
  /* margin-bottom: 10px; */
}

input::placeholder,
select {
  color: white;
}

.inputRow {
  display: flex;
  justify-content: space-between;
  gap: 10px; /* Add a gap between inputs */
}

.inputNome,
.inputDesc {
  flex: 1; /* Ensure both inputs take equal space */
}

.nomeDescTarefa {
  margin: 5px;
}

.titulo {
  font-size: 20px;
}

h3 {
  margin-bottom: 30px;
}

.inputNome,
.inputDesc,
.inputData,
.inputProjeto,
.inputUsuarios {
  margin-top: 15px;
}

input {
  width: 100%; 
}

.textoRight {
  margin: auto;
}

.tituloRight {
  font-size: 35px;
  margin: 60px;
  text-align: center;
}

.button {
  width: 50%;
  height: 50px;
  background-color: #7b7b7b;
  color: white;
  border-radius: 1em;
  border: 0.1px #7b7b7b solid;
}

.fecharModal {
  text-align: right;
}

.botaoFechar {
  width: 120px;
  height: 50px;
  background-color: white;
  border-radius: 1em;
}

.title {
  width: 300px;
}

.botaoCadastrar {
  margin-top: 5%;
  text-align: center;
}
