.container {
  display: flex;
  flex-direction: row;
  background-color: #222831;
  border-radius: 1em;
  width: 1000px;
  height: 600px;
}

.sidebar {
  width: 100%;
  margin: 5%;
  background-color: #222831;
  color: white;
  border-radius: 1em;
}

.right {
  color: white;
  width: 70%;
  background: linear-gradient(0deg, #5fb1bb 0%, #76b5b8 14%, #222831 100%);
  border-radius: 0 1em 1em 0;
}

input {
  color: black;
  width: 60%;
  
  border-radius: 1em;
}

.nomeDescProjeto {
  margin-bottom: 15px;
}

.textoRight {
  margin: auto;
}

.tituloRight {
  font-size: 25px;
}

.button {
  width: 120px;
  height: 50px;
  background-color: white;
  border-radius: 15px;
}
.fecharModal {
  text-align: right;
}

.botaoFechar {
  width: 120px;
  height: 50px;
  background-color: white;
  border-radius: 1em;
}

.title {
  width: 300px;
}
