.container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  background-color: #222831;
}

.sidebar {
  margin: 30px;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 30%;
  background-color: #222831;
  color: white;
}

.right {
  color: white;
  width: 70%;
  background: linear-gradient(0deg, #5fb1bb 0%, #76b5b8 14%, #222831 100%);
  padding: 40px;  
}

input {
  color: black;
  width: 250px;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 15px;
}

.nomeDescProjeto{
  margin-bottom: 15px;
}

.tituloRight {
  font-size: 25px;
  margin-bottom: 10px;
  padding-left: 15px;
}

.button {
  margin-top: 70px;
  width: 120px;
  height: 50px;
  background-color: white;
  border-radius: 15px;
}

.title {
  width: 300px;
  margin-bottom: 40px;
}
