.container {
  display: flex;
  flex-direction: row;
  background-color: #222831;
  border-radius: 1em;
  width: 1200px;
  height: 800px;
}

.sidebar {
  width: 60%;
  margin: 5%;
  background-color: #222831;
  color: white;
  border-radius: 1em;
  box-sizing: border-box;
}

.rightPanel {
  width: 40%;
  color: white;
  background: linear-gradient(0deg, #5fb1bb 0%, #76b5b8 14%, #222831 100%);
  border-radius: 0 1em 1em 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input,
.selectInput {
  width: 319px;
  height: 50px;
  background-color: #7b7b7b;
  border-radius: 1em;
  box-sizing: border-box;
  padding: 15px;
  border: 0.1px #7b7b7b solid;
  color: #000;
  font-size: medium;
}

input::placeholder,
.selectInput {
  color: white;
}

.inputRow {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.inputGroup {
  flex: 1;
  margin-top: 15px;
}

.inputLabel {
  margin-right: 20px; ;
}

.title {
  font-size: 20px;
  margin-bottom: 30px;
}

.inputDate {
  width: 319px;
  color: #fff;
}

.multiselect {
  color: #000;
  height: 50px;
}

.anexosContainer {
  width: 100%;
  height: 30%;
}

.buttonContainer {
  margin-top: 5%;
  text-align: center;
}

.button {
  width: 49%;
  height: 50px;
  background-color: #7b7b7b;
  color: white;
  border-radius: 1em;
  border: 0.1px #7b7b7b solid;
}

.rightText {
  margin: auto;
}

.rightTitle {
  font-size: 35px;
  margin: 60px;
  text-align: center;
}
