.container {
  border-radius: 1em;
  width: 1000px;
  height: 650px;
  background-color: #222831;
}

.input {
  margin: 3%;
  border-radius: 1em;
  width: 80%;
  height: 100px;
  padding-left: 15px;
  width: 100%;
  border: 0.1px #7b7b7b solid;
  background-color: #7b7b7b;
  color: #fff;
}

.data{
  border: 0.1px #7b7b7b solid;
  border-radius: 1em;
  width: 125px;
  height: 40px;
  background-color: #7b7b7b;
  color: #fff;
  margin: 3%;
  margin-top: 1%;
  padding-inline: 15px;
}

.inputs {
  margin: 3%;
  margin-top: 1%;
  border-radius: 1em;
  width: 60%;
  height: 40px;
  padding-left: 15px;
  border: 0.1px #7b7b7b solid;
  background-color: #7b7b7b;
  color: #fff;
}

.button {
  margin-top: 2%;
  margin-left: 5%;
  border-radius: 1em;
  width: 42.5%;
  height: 60px;
  background-color: #7b7b7b;
  color: white;
  font-size: large;
  
  border: 0.1px #7b7b7b solid;
}

.title {
  padding: 3% 3% 2% 3%;
  color: #fff;
}

p {
  padding: 0.1% 1% 1% 3%;
  color: #fff;
}

.multiSelect {
  width: 195px;
  height: 45px;
  border-radius: 1em;
  margin: 3%;
  margin-top: 1%;
}

.select {
  margin: 3%;
}