.container {
  background-color: #d9d9d9;
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.botaomenu{
  margin: 20%;
  background-image: url("/src/assets/HomePage.png");
  background-size: 50% 60%;
  background-position-y: 50%;
  background-position-x: 50%;
  background-repeat: no-repeat;
  width: 25%;
  height: 15%;
  border-radius: 1em;
  background-color: #222831;

}
.botaoprojetos{
  margin: 20%;
  background-image: url("/src/assets/Project.png");
  background-size: 50% 60%;
  background-position-y: 50%;
  background-position-x: 50%;
  background-repeat: no-repeat;
  width: 25%;
  height: 15%;
  border-radius: 1em;
  background-color: #222831;

}
.botaocalendario{
  margin: 20%;
  background-image: url("/src/assets/Calendar31.png");
  background-size: 50% 60%;
  background-position-y: 50%;
  background-position-x: 50%;
  background-repeat: no-repeat;
  width: 25%;
  height: 15%;
  border-radius: 1em;
  background-color: #222831;
  
}
.botaoconfig { 
  margin: 20%;
  background-image: url("/src/assets/Settings.png");
  background-size: 50% 60%;
  background-position-y: 50%;
  background-position-x: 50%;
  background-repeat: no-repeat;
  width: 25%;
  height: 15%;
  border-radius: 1em;
  background-color: #222831;
}