.container {
  background-color: #d9d9d9;
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.botaomenu{
  margin: 50px;
  background-image: url("/src/assets/HomePage.png");
  background-size: 40px 40px;
  background-position-y: 10px;
  background-position-x: 20px;
  background-repeat: no-repeat;
  width: 80px;
  height: 60px;
  border-radius: 20px;
  background-color: #222831;

}
.botaoprojetos{
  margin: 50px;
  background-image: url("/src/assets/Project.png");
  background-size: 40px 40px;
  background-position-y: 10px;
  background-position-x: 20px;
  background-repeat: no-repeat;
  width: 80px;
  height: 60px;
  border-radius: 20px;
  background-color: #222831;

}
.botaocalendario{
  margin: 50px;
  background-image: url("/src/assets/Calendar31.png");
  background-size: 40px 40px;
  background-position-y: 10px;
  background-position-x: 20px;
  background-repeat: no-repeat;
  width: 80px;
  height: 60px;
  border-radius: 20px;
  background-color: #222831;
  
}
.botaoconfig { 
  margin: 50px;
  background-image: url("/src/assets/Settings.png");
  background-size: 40px 40px;
  background-position-y: 10px;
  background-position-x: 20px;
  background-repeat: no-repeat;
  width: 80px;
  height: 60px;
  border-radius: 20px;
  background-color: #222831;
}