.container {
  border-radius: 1em;
  width: 1000px;
  height: 900px;
  background-color: #222831;

}

.title {
  color: #fff;
  padding: 5%;
}

.inputs {
  background-color: #7b7b7b;
  width: 40%;
  height: 5%;
  color: #fff; 
  margin: 4%;
  padding: 1%;
  border-radius: 1em;
  border: #7b7b7b 0.1px solid;
}

.button {
  border-radius: 1em;
  width: 50%;
  height: 50px;
  background-color: #7b7b7b;
  color: white;
  border: 0.1px #7b7b7b solid;
}

.botaoDiv{
  margin-top: 7%;
}

.profile{
  display: flex;
  justify-content: center;
  align-items: center;
}

.foto{
  height: 300px;
  width: 300px;
  border-radius: 50%;
  object-fit: cover;
  background: #dfdfdf;
}