* {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Inter", sans-serif;
}

.input-container {
  position: relative;
  display: inline-block;
}

.icon-container {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.input-field {
  padding-top: 10px;
  z-index: 0;
  padding-left: 30px;
}

.icon {
  width: 25px;
  height: 25px;
}

#input {
  padding: 10px;
  border-radius: 10px;
}
.left {
  width: 33%;
  height: 100vh;
  display: flex;
  float: left;
  background-image: linear-gradient(to bottom, #76b5b8, #405b62, #222831);
}
.right {
  align-content: center;
  padding-top: 250px;
}
#login {
  margin-top: 50px;
  margin-left: 175px;
  color: #ffffff;
}
.background {
  width: 100%;
  height: 100vh;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
}
