.container {
  background-color: #d9d9d9;
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) -2.4px 2.4px 3.2px;
}

.botaomenu {
  margin: 25%;
  width: 60%;
  height: 8%;
  border-radius: 1em;
  background-color: #222831;
  color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3 ease-in-out;
}

.botaocalendario {
  margin: 25%;
  width: 60%;
  height: 8%;
  border-radius: 1em;
  background-color: #222831;
  color: #d9d9d9;
  justify-items: start;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3 ease-in-out;
}

.botaoconfig {
  margin: 25%;
  width: 60%;
  height: 8%;
  border-radius: 1em;
  background-color: #222831;
  color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3 ease-in-out;
}

.botaoconfig:hover{
  /*width: 65%;
  height: 10%;*/
  transform: scale(1.1);
  transition: all 0.3s ease;
  font-size: large;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.botaomenu:hover{
  /*width: 65%;
  height: 10%;*/
  transform: scale(1.1);
  transition: all 0.3s ease;
  font-size: large;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.botaocalendario:hover{
  /*width: 65%;
  height: 10%;*/
  transform: scale(1.1);
  transition: all 0.3s ease;
  font-size: large;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.imagem {
  padding-right: 7%;
  max-width: 200px;
  max-height: 150px;
  width: auto;
  height: auto;
  float: left;
}