.container {
  width: 100%;
}

.projetos {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  width: 100%;
  padding: 10px;
}

.projeto{
  margin: 5px;
  color: #000;
  font-size: large;
}

