* {
    margin: 0;
    padding: 0;
  }
  
  * {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
  }
  
  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .center {
    width: 600px;
    height: 600px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    text-align: center; 
  
  }
  .left {
    width: 33%;
    height: 100vh;
    display: flex;
    float: left;
    background-image: linear-gradient(to bottom, #76b5b8, #405b62, #222831);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
      rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
      rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  }
  
  #input-usuario {
    height: 30px;
    width: 300px;
    margin: 25px;
    padding: 10px;
    border-radius: 15px;
    font-size: 15px;
    background-image: url("/src/assets/UserNovo.png");
    background-position: left 5px center;
    background-position-y: 15px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding-left: 30px;
    padding-right: 40px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
      rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
      rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  }
  
  #input-email {
    height: 30px;
    width: 300px;
    margin: 25px;
    padding: 10px;
    border-radius: 15px;
    font-size: 15px;
    background-image: url("/src/assets/Email.png");
    background-position: left 5px center;
    background-position-y: 15px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding-left: 30px;
    padding-right: 40px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
      rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
      rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  }
  
  #input-senha {
    height: 30px;
    width: 300px;
    margin: 25px;
    padding: 10px;
    border-radius: 15px;
    font-size: 15px;
    background-image: url("/src/assets/Senha.png");
    background-position: left 5px center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding-left: 30px;
    padding-right: 40px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
      rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
      rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  }
  
  .btn {
    transition: all 0.3s ease-in-out;
    font-family: "Dosis", sans-serif;
  }
  
  .btn {
    margin: 50px;
    width: 170px;
    height: 60px;
    border-radius: 50px;
    border: 1px solid black;
    background-image: linear-gradient(135deg, #ffffff 0%, #ffffff 100%);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
      rgba(0, 0, 0, 0.07)0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
      rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    outline: none;
    cursor: pointer;
    font-size: 24px;
    color: black;
  }
  
  .btn:hover {
    background-color: #76b5b8;
    transform: translateY(3px);
    box-shadow: none;
  }
  
  .btn:active {
    opacity: 0.5;
  }
  
  #title {
    padding-top: 10px;
    margin: 50px;
    padding-bottom: 25px;
  }