
.container {
  border-radius: 1em;
  width: 1200px;
  height: 900px;
  background-color: #222831;
}

.input {
  margin: 2%;
  border-radius: 1em;
  width: 80%;
  height: 100px;
  padding-left: 15px;
  width: 100%;
  border: 0.1px #7b7b7b solid;
  background-color: #7b7b7b;
  color: #fff;
}

.data{
  display: flex;
  justify-content: center;
  border: 0.1px #7b7b7b solid;
  border-radius: 1em;
  width: 200px;
  height: 40px;
  background-color: #7b7b7b;
  color: #fff;
  margin: 2%;
  margin-top: 1%;
  padding-inline: 15px;
}

.inputs {
  margin: 2%;
  margin-top: 1%;
  border-radius: 1em;
  width: 60%;
  height: 40px;
  padding-left: 15px;
  border: 0.1px #7b7b7b solid;
  background-color: #7b7b7b;
  color: #fff;
}

.button {
  margin-top: 5%;
  margin-left: 20%;
  border-radius: 1em;
  width: 20%;
  height: 60px;
  background-color: #7b7b7b;
  color: white;
  font-size: large;
  
  border: 0.1px #7b7b7b solid;
}

.title {
  padding: 4%;
  margin-top: 2%;
  color: #fff;
}

p {
  padding: 0.1% 1% 1% 2%;
  color: #fff;
}

.multiSelect {
  width: 250px;
  height: 45px;
  border-radius: 1em;
  margin: 2%;
  margin-top: 1%;
}

.select {
  margin: 2%;
}
